# Контрольная работа

Датасет состоит из следующих данных:
 - age - возраст
 - gender - пол
 - bmi - индекс массы тела
 - children - кол-во детей
 - smoker - курящий или нет
 - region - регион
 - country - страна
 - charges - сумма страховки
 
Необходимо предсказать оптимальную стоимость стаховки на основе полученных данных.

## Импорт библиотек

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

## Data preporation

На этом этапе нужно: 
1. Посмотреть на размер датасета
2. Обработать пропуски

In [36]:
df = pd.read_csv("insurance.csv")

In [39]:
for i in df.columns:
    print(i, df[i].isna().sum())
print(df.shape)

age 0
gender 0
bmi 0
children 0
smoker 0
region 0
charges 0
(1323, 7)

In [38]:
df.pop("country")
df.drop(df.index[(df["bmi"].isna())],axis=0,inplace=True)
df.drop(df.index[(df["smoker"].isna())],axis=0,inplace=True)

In [77]:
stats3 = df.groupby(['age'], as_index=False)[["age"]].count()
stats3 = stats3.rename(columns={'age': 'count'})
stats3

    count
0      69
1      64
2      29
3      28
4      28
5      28
6      27
7      28
8      28
9      28
10     28
11     27
12     27
13     27
14     25
15     26
16     26
17     25
18     24
19     24
20     25
21     25
22     27
23     26
24     27
25     26
26     27
27     29
28     28
29     28
30     29
31     28
32     28
33     29
34     29
35     27
36     28
37     26
38     26
39     26
40     25
41     25
42     23
43     23
44     23
45     23
46     21

## Feature Engineering

На этом эпате мы переводим категориальные данные в числовые

In [62]:
df[df.columns].nunique()

age           47
gender         2
bmi          544
children       6
smoker         2
region         4
charges     1322
dtype: int64

In [73]:
df

      age  gender     bmi  children smoker     region      charges
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1323 rows x 7 columns]

## Modeling

1. Делим обработанный датасет на train и test. 
2. После выбираем и обучаем модель. 
3. Которую в конце оцениваем с помощью метрик.

In [ ]:
#ваш код